<style type="text/css">
		.container{
			width: 30%;
			height:100%;
			position: relative;	
			top:25vh;
			left: 35%;
		}
		.circle{
			width: 200px;
			height:200px;
			border-radius: 50%;
			position: absolute;
		}
		.one{
			background-color: #92f442;
		}
		.two{
			background-color: #ffd428;
			top:0px;
			left: 150px;

		}
		.three{
			background-color: #e80b97;
			top:150px;
			left:75px;
		}
	</style>